.parteSuperior{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.titulo{
    margin-left: 690px;
}
.buscador{
    margin-left: auto;
}
.filtros{
    display: inline-flex;
    height: 100%;
    width: 100%;
    gap: 480px;
    margin-top: 30px;
}
.filtroTipo{
    margin-left: 50px;
}

.filtroAlf{
    margin-right: 60px;
}
#anadirManual{
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
}
#anadirManual:hover{
    opacity: 0.6;
    text-decoration: none;
}
#filtro {
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 1em;
}
.cartica{
    background-color: rgb(255, 234, 150, 0.9);
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1em;
    align-items: center;
    border: solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cartica > img{
    opacity: 0.5;
    width:300px;
    height:300px;
    position: absolute;
}
#loquete > button {
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
}
#loquete {
    margin-bottom: 10px;
    font-weight: bolder;
    opacity: 1;
    background-color: white;
}
