#vision_objetivo{
    display: flex;
    justify-content: space-around;
    
}
#form_map{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    
}
#form_map > form{
    margin-right: 250px;
   display: grid;
   grid-template-columns: 100px 100px;
   gap: 100px;

}
.img_con_texto{
    position: relative;
    
}

.titulo {
    position: absolute;
    top: 10px;
    left: 150px;
    text-shadow: -4px 1px  #edc41f;;
}

.texto{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 350px;
    text-align: justify;

}
.img_con_texto > img{
    opacity: 0.3;
    width:400px;
    height:300px;
}


