@font-face {
    font-family: fuenteFixpoint;
    src: url(/fonts/tonus-sans-regular.otf) format("opentype");
}

body {
    width:100%; 
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    background-color: #292929;
}

* {
    font-family: fuenteFixpoint;
}

/* MAIN */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}

.menu_admin {
    flex: 1 1 auto;
}

.menu_admin h2 {
    padding: 1em;
}

.tabla-container {
    flex: 3 3 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: white solid medium;
    margin: 1em;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.botones-container {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
    gap: 1em;
}

.botones {
    font-size: large;
    padding: 0.5em;
    width: 10em;
    background-color: #EEC51F;
    transition: background-color .2s ease;
}

tr {
    text-align: center;
}

.datos-fila:nth-child(even) {
    background-color: #f2f2f2;
}

.pie-fila {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pie-tabla:hover {
    background-color: #EEC51F;
    cursor: pointer;
}