body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: fuentefixpoint;
    background-color: #292929;
}

@font-face {
    font-family: fuenteFixpoint;
    src: url(/fonts/tonus-sans-heavy-italic.otf) format("opentype");
}

a {
    text-decoration: none;

}

/******************************** MAIN *********************************/
main {
    display: grid;
    grid-template:
        "contenedor-uno"
        "herramientas"
        "final";
    gap: 1em;
}

.contenedor-uno {
    grid-area: contenedor-uno;
    justify-content: space-around;
}

.contenedor-uno-linea {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
}

h1 {
    color: white;
    font-size: 1.5em;
    animation: bgchange 7s linear infinite;
}

.contenedor_buscar {
    border-radius: 0.4em;
    margin-right: 1%;
    height: 2em;
}

.buscador {
    height: 90%;
    width: 70%;
    border-radius: 0.4em;
}

#buscar_boton {
    width: 28%;
    height: 90%;
    border-radius: 0.4em;
    margin-right: 0;
}

.tipos_herramientas {
    border-radius: 0.5em;
    background-color: #EEC51F;
    font-weight: bolder;
    height: 2em;
}

.ordenar_por {
    font-size: 1.2em;
    color: white;
    margin-right: 1%;
    animation: bgchange 7s linear infinite;
}

.A-Z {
    background-color: #EEC51F;
    border-radius: 0.5em;
    font-weight: bolder;
}

.herramientas {
    display: grid;
    grid-area: herramientas;
    grid-template-columns: repeat(auto-fit, 30em);
    justify-content: center;
    gap: 1em;
}

.her {
    background-color: #FFEA96;
    width: 100%;
    color: black;
    display: grid;
    grid-template-areas: "img info"
        "alquiler alquiler";
    align-content: space-between;
    border: 0.2em solid #FF6961;
}

.img {
    grid-area: img;
    width: 100%;
}

.alquiler {
    grid-area: alquiler;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alquiler > p {
    margin-left: 1em;
}

.info {
    grid-area: info;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 2em;
    text-align: center;
    margin-right: 15%;
}

.contenedor_final_pagina {
    grid-area: final;
    display: grid;
    grid-template: "contenedor-a"100%;
    justify-items: center;
}

.contenedor-a {
    grid-area: contenedor-a;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50%;
}

.numero {
    text-align: center;
    width: 4%;
    height: 90%;
}

ul {
    list-style: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.buton {
    color: black;
    outline: none;
    background: transparent;
    border: solid 0.5px black;
    border-radius: 2em;
    font-family: fuenteFixpoint;
    text-align: center;
    padding-top: 1.5%;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    line-height: 2;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .2s;
}

.buton:before:enabled,
.buton:after:enabled {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    transform: translate3D(0, -100%, 0);
    transition: all .5s;
    width: 200%;
    background: #777DF2;
    transform-origin: 0 bottom;
    transform: translate3D(-50%, 0, 0) rotate(-50deg);
}

.buton:before:enabled {
    opacity: .4;
}

.buton:hover:before:enabled,
.buton:hover:after:enabled {
    transform: rotate(0deg);
    transition: all .25s;
}

.buton:hover:after:enabled {
    transition-delay: .25s;
}

.buton:disabled {
    color: rgba(255, 255, 255, 0.2);
    transition: none;
    transform: none;
    cursor: not-allowed;
}

/******************************** ANIMACIONES COLORES *********************************/
@keyframes bgchange {
    0% {
        color: white;
    }

    20% {
        color: rgb(255, 234, 150);
    }

    40% {
        color: rgb(238, 197, 31);
    }

    80% {
        color: rgb(255, 234, 150);
    }
}