body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: fuentefixpoint;
    background-color: #292929;
}

@font-face {
    font-family: fuenteFixpoint;
    src: url(/fonts/tonus-sans-heavy-italic.otf) format("opentype");
}

a {
    text-decoration: none;

}

main {
    display: grid;
    grid-template:
        "contenedor-uno" 15%
        "herramientas"
        "final" 8%;
    gap: 1em;
}

.contenedor-uno {
    grid-area: contenedor-uno;
    justify-content: space-around;
}

.contenedor-uno-linea {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
  
}

h1 {
    color: white;
    font-size: 1.5em;
    animation: bgchange 7s linear infinite;
}

.contenedor_buscar {
    border-radius: 0.4em;
    margin-right: 1%;
    height: 2em;
}

.buscador {
    height: 90%;
    width: 70%;
    border-radius: 0.4em;
}

#buscar_boton {
    width: 28%;
    height: 90%;
    border-radius: 0.4em;
    margin-right: 0;
}

.tipos_herramientas {
    border-radius: 0.5em;
    background-color: #EEC51F;
    font-weight: bolder;
    height: 2em;
}

.ordenar_por {
    font-size: 1.2em;
    color: white;
    margin-right: 1%;
    animation: bgchange 7s linear infinite;
}

.A-Z {
    background-color: #EEC51F;
    border-radius: 0.5em;
    font-weight: bolder;
}

.herramientas {
    display: grid;
    grid-area: herramientas;
    grid-template-columns: repeat(auto-fit, 25em);
    justify-content: center;
    gap: 1em;
}

.her {
    background-color: #FFEA96;
    width: 100%;
    color: black;
}

.contenedor_final_pagina {
    grid-area: final;
    display: grid;
    grid-template: "contenedor-a"100%;
    justify-items: center;
}

.contenedor-a {
    grid-area: contenedor-a;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.flechaderecha {
    width: 80%;
    height: 90%;
    filter: invert(1);
}

.flechaizquierda {
    width: 80%;
    height: 90%;
    filter: invert(1);
}

.numero {
    text-align: center;
    background-color: #FFEA96;
    width: 10%;
    height: 90%;
    line-height: 50%;
    margin-left: 2%;
    margin-right: 2%;
}
.numero > a > p{
    color: black;
}
@keyframes bgchange{
    0%{
      color:white;
    }
    20%{
       color: rgb(255,234,150);
    }
    40%{
     color: rgb(238,197,31);
    }
    80%{
       color: rgb(255,234,150);
    }
  }

/* @media (min-width: 600px) {
    .grid-contenedor {
        grid-template:
            "header         header"10% "contenedor-uno contenedor-uno"20% "herramientas   herramientas"80% "final           final"10% "footer          footer"30%/ 50% 50%;
    }

    .cabecera {
        grid-area: header;
        grid-column: 1 / span 2;
        margin-left: 70%;
        gap: 50%;
    }

    .contenedor_uno {
        display: grid;
        width: 100%;
        grid-area: contenedor-uno;
        grid-template:
            "titulo     titulo   buscador"40% "tipos      .        ordenar"20%/ 40% 20% 40%;
    }

    h1 {
        grid-area: titulo;
        color: black;
        text-shadow: -2px 0px 0px #EEC51F;
        margin-left: 5%;
    }

    .contenedor_buscar {
        grid-area: buscador;
        width: 70%;
        height: 35%;
        border-radius: 0.4em;
        padding: 0.2em;
        margin-top: 5%;
    }

    .tipos_herramientas {
        grid-area: tipos;
        border-radius: 0.5em;
        background-color: #EEC51F;
        height: 90%;
        width: 80%;
        font-weight: bolder;
        margin-top: 8%;
        margin-left: 5%;
        font-size: 20px;
    }

    .ordenar_por {
        grid-area: ordenar;
        font-size: 22px;
        width: 100%;
        text-align: center;
        margin-top: 8%;
        height: 50%;
    }

    .A-Z {
        background-color: #EEC51F;
        border-radius: 0.5em;
        width: 50%;
        text-align: center;
        height: 170%;
        font-weight: bolder;
        margin-left: 2%;
        font-size: 20px;
    }

    .herramientas {
        display: grid;
        grid-template:
            "imagen imagen2"24% "imagen3 imagen4"22% "imagen5 imagen6"22% "imagen7 imagen8"22%/ 50% 50%;
        gap: 1em;
    }

    .her2 {
        margin-top: 5%;
    }

    .her5 {
        grid-area: imagen5;
        background-color: #695E33;
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .her6 {
        grid-area: imagen6;
        background-color: #695E33;
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .her7 {
        grid-area: imagen7;
        background-color: #695E33;
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .her8 {
        grid-area: imagen8;
        background-color: #695E33;
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .flechas {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flechaderecha {
        width: 15%;
        height: 50%;
    }

    .flechaizquierda {
        width: 15%;
        height: 50%;
    }

    .numero {
        width: 25%;
        height: 57%;
        font-size: 25px;
        margin-top: 3%;
        line-height: 5%;
    }
}

@media (min-width: 800px) {
    .grid-contenedor {
        grid-template:
            "header          header           header          header"10% "contenedor-uno  contenedor-uno   contenedor-uno  contenedor-uno"20% "herramientas    herramientas     herramientas    herramientas"95% "final           final            final           final"10% "footer          footer           footer          footer"30% / 25% 25% 25% 25%;

    }

    .cabecera{
        margin-left: 220%;
        gap: 160%;

    }


    .contenedor_uno {
        display: grid;
        width: 100%;
        grid-area: contenedor-uno;
        grid-template:
            "titulo     titulo   buscador"40% "tipos      .        ordenar"20%/ 40% 20% 40%;
    }

    h1 {
        grid-area: titulo;
        color: black;
        text-shadow: -2px 0px 0px #EEC51F;
        margin-left: 5%;
        font-size: 35px;
    }

    .contenedor_buscar {
        grid-area: buscador;
        width: 60%;
        height: 55%;
        border-radius: 0.4em;
        padding: 0.2em;
        margin-top: 7%;
    }

    .buscador {
        height: 90%;
        width: 70%;
        border-radius: 0.4em;
    }

    .buscar_boton {
        width: 28%;
        height: 90%;
        border-radius: 0.4em;
    }

    .tipos_herramientas {
        grid-area: tipos;
        border-radius: 0.5em;
        background-color: #EEC51F;
        height: 100%;
        width: 50%;
        font-weight: bolder;
        margin-top: 8%;
        margin-left: 5%;
        font-size: 15px;
        text-align: center;
    }

    .ordenar_por {
        grid-area: ordenar;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-top: 8%;
        height: 50%;
    }

    .A-Z {
        background-color: #EEC51F;
        border-radius: 0.5em;
        width: 30%;
        text-align: center;
        height: 200%;
        font-weight: bolder;
        margin-left: 2%;
        font-size: 15px;
    }

    .herramientas {
        display: grid;
        grid-template:
            "imagen   imagen2  imagen3  imagen4"22% "imagen5  imagen6  imagen7  imagen8"22% "imagen9  imagen10 imagen11 imagen12"22% "imagen13 imagen14 imagen15 imagen16"20%/ 25% 25% 25% 25%;
    }

    .contenedor-a {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .flechas {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .flechaderecha {
        width: 7%;
    }

    .flechaizquierda {
        width: 7%;
    }

    .numero {
        width: 8%;
        height: 40%;
        font-size: 15px;
        margin-top: 2%;
    }

} */