@font-face {
    font-family: FixpointLigera;
    src: url(/fonts/tonus-sans-regular.otf) format("opentype");
}

a {
    text-decoration: none;
    color: white;
    animation: bgchange 7s linear infinite;
}


/******************************** FOOTER *********************************/
.pie {
    font-family: FixpointLigera;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0;
    margin-top: auto;

    background-color: #292929;
    width: 100%;
}

.container-footer {
    flex: 1 1 100%;
    margin: 1em;
}

/* LOGOS */

.logos-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.imagen-footer {
    max-width: 40%;
    height: auto;
}

/* DATA */

.info-footer {
    list-style: none;
    padding: 0;
    text-align: center;

    display: flex;
    gap: 1em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.info-footer li {
    display: inline;
}


/* HORARIO */

.horario {
    display: flex;
    justify-content: center;
    animation: bgchange 7s linear infinite;
    color: white;
}

.tabla-horario {
    display: flex;
    flex-flow: row wrap;
    border-collapse: collapse;
}

.tabla-horario td {
    border-bottom: solid medium black;
    margin: 2px 0 2px 0;
}

.tabla-horario tr:nth-child(odd) {
    background-color: #eec51fb3;
}

/******************************** ANIMACION COLORES *********************************/
@keyframes bgchange{
    0%{
      color:white;
    }
    20%{
       color: rgb(255,234,150);
    }
    40%{
     color: rgb(238,197,31);
    }
    80%{
       color: rgb(255,234,150);
    }
  }

/******************************** MODO MOVIL *********************************/
@media (min-width:320px) and (max-width:615px) {
    .logos-footer {
        display: none;
    }
}