/******************************** HEADER *********************************/

.cabecera {
    position: sticky;

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 2em 0 2em 0;
}

.contenedor-logo {
    flex: 1 1 100%;
    display: flex;
}

#contenedor-logo-fixpoint {
    justify-content: center;
}

#contenedor-logo-user {
    justify-content: flex-end;
}

#logo-user {
    max-width: 3em;
    height: auto;

    margin-right: 1em;
}

#logo-fixpoint {
    max-width: 16em;
    height: auto;
    background-color: white;
    animation: logocambio 7s linear infinite;

}

@keyframes logocambio{
    0%{
      background-color: white;
    }
    20%{
        background-color: rgb(255,234,150);
    }
    40%{
        background-color: rgb(238,197,31);
    }
    80%{
        background-color: rgb(255,234,150);
    }
  }