@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
}

* {
    font-family: fuenteFixpoint;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

/******************************** HEADER *********************************/

.cabecera {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    padding: 2em 0 2em 0;
}

.contenedor-logo {
    display: flex;
    justify-content: center;
}

#contenedor-logo1 {
    justify-content: left;
}

#contenedor-logo2 {
    justify-content: right;
    position: absolute;
    right: 5vw;
}

#logo-user {
    max-width: 3em;
    height: auto;
}

.logo-fixpoint {
    max-width: 16em;
    height: auto;
}

/******************************** BODY *********************************/
.cuerpo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.slider {
    height: 40vh;
    background-color: #EEC51F;
}

.caja {
    position: relative;
    margin: 1em;
    border: black solid thick;
    background-color: #EEC51F;
    width: 30em;
    height: 18em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s;
}

.caja:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.caja:hover .caja-texto {
    height: 35%;
}

.caja:hover .caja-texto > p {
    opacity: 1;
    transition: opacity .5s ease .3s;
}

.caja img {
    width: 100%;
    height: 100%;
}

.caja-texto {
    position: absolute;
    padding: 1em;
    height: 2em;
    bottom: 0;
    right: 0;
    left: 0;
    transition: height 0.5s;
    background-color: #EEC51F;
    text-align: center;
}

.caja-texto > p {
    opacity: 0;
}

.accesos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.pie {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;

    background-color: #695E33;
    height: 10vh;
}

.pie > * {
    text-align: center;
}

.info-pie{
    list-style: none;
    text-align: left;
}

.info-pie li {
    display: inline;
    margin: 0.75em;
}
