@font-face {
    font-family: fuenteFixpoint;
    src: url(/fonts/tonus-sans-regular.otf) format("opentype");
}

* {
    font-family: fuenteFixpoint;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: fuenteFixpoint;

}

/*----CONTENEDOR GENERAL---*/
.grid-contenedor {
    display: grid;
    grid-template:
        "header"20% "contenedorinicio"50% "footer"30%/ 100%;
    background-color: #ebe1c9;
    visibility: hidden;
}

/*ventana popup*/
form:target {
    visibility: visible;
    opacity: 1;
}

/*---HEADER---*/
.cabecera {
    position: sticky;
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 2em 0 2em 0;
}

.contenedor-logo {
    flex: 1 1 100%;
    display: flex;
}

#contenedor-logo-fixpoint {
    justify-content: center;
}

#contenedor-logo-user {
    justify-content: flex-end;
}

#logo-user {
    max-width: 3em;
    height: auto;

    margin-right: 1em;
}

#logo-fixpoint {
    max-width: 16em;
    height: auto;
}

.imagenusuario {
    width: 40%;
    height: 40%;
    margin-top: 20%;
}

/*----FORMULARIO INICIAR SESION---*/
form {
    grid-area: contenedorinicio;
    display: grid;
    grid-template:
        "botones"25% "correo"25% "pass"25% "botones2"25%;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    background-color: #ebe1c9;
    justify-items: center;
    align-items: center;
    transition-duration: 2s;
    visibility: visible;
    box-shadow: -1px -1px 149px -10px rgba(0, 0, 0, 0.73);
    border-radius: 15px 15px 13px 13px / 13px 13px 16px 16px;
    font-family: fuenteFixpoint;
}

/*---DIV DE LOS INPUTS---*/
.botones {
    grid-area: botones;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    align-content: center;

}

.botones2 {
    grid-area: botones2;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 70%;
}

/*---ENUNCIADOS---*/
.correo {
    grid-area: correo;
    font-size: 15px;
    width: 70%;
    height: 70%;
}

.pass {
    grid-area: pass;
    font-size: 15px;
    width: 70%;
    height: 70%;
}

/*---CUADRO DE TEXTO--*/
.recuadro {
    width: 100%;
    height: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/*---INPUTS--*/
.boton {
    background-color: #FFEA96;
    height: 100%;
    width: 50%;
    border-color: #FFEA96;
    font-family: fuenteFixpoint;
    font-size: 15px;
    border-radius: 15px 0px 0px 0px / 13px 0px 0px 8px;
}

.botonn {
    background-color: #FFEA96;
    height: 100%;
    width: 50%;
    border-color: #FFEA96;
    font-family: fuenteFixpoint;
    font-size: 15px;
    border-radius: 0px 15px 0px 0px / 0px 13px 0px 8px;
}

.boton2 {
    background-color: #FFEA96;
    font-family: fuenteFixpoint;
    width: 30%;
    height: 80%;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 8%;
    margin-top: 3%;
}

/* FOOTER */
.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    position: static;
    bottom: 0;

    background-color: #695E33;
    width: 100%;
}

.container-footer {
    flex: 1 1 100%;
    margin: 1em;
}

/* LOGOS */

.logos-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.imagen-footer {
    max-width: 40%;
    height: auto;
}

/* DATA BRO */

.info-footer {
    list-style: none;
    padding: 0;
    text-align: center;

    display: flex;
    gap: 1em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.info-footer li {
    display: inline;
}


/* HORARIO */

.horario {
    display: flex;
    justify-content: center;
}

.tabla-horario {
    display: flex;
    flex-flow: row wrap;
    border-collapse: collapse;
}

.tabla-horario td {
    border-bottom: solid medium black;
    margin: 2px 0 2px 0;
}

.tabla-horario tr:nth-child(odd) {
    background-color: #eec51fb3;
}

@media (min-width:320px) and (max-width:615px) {
    .logos-footer {
        display: none;
    }
}

@media (min-width:600px) {
    form {
        margin-left: 10%;
        height: 85%;
    }

    .correo {
        font-size: 20px;
    }

    .pass {
        font-size: 20px;
    }

    .boton {
        font-size: 22px;
    }

    .boton2 {
        font-size: 22px;
    }

    a {
        font-size: 20px;
    }
}

@media (min-width:800px) {
    form {
        margin-left: 10%;
        height: 100%;
    }

    .grid-contenedor {
        grid-template:
            "header"20% "contenedorinicio"60% "footer"10%/ 100%;
    }

    .correo {
        font-size: 25px;
    }

    .pass {
        font-size: 25px;
    }

    .boton2 {
        font-size: 20px;
        width: 20%;
        height: 70%;
    }

    .recuadro {
        width: 90%;
        height: 40%;
    }

    .botonn {
        font-size: 22px;
    }

    a {
        font-size: 22px;
    }
}