* {
    padding: 0;
    margin: 0;
}

.cabecera {
    display: flex;
    justify-content: space-between;
}

.logos-estaticos {
    display: flex;
    justify-content: center;
}

.cuerpo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.accesos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1em;
}

.caja {
    border: black solid thick;
}