@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
}

body {
    font-family: fuenteFixpoint;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

/* SLIDER */
.slider {
    position: relative;
    height: 60vh;
    background-color: #EEC51F;
}

.imagen-slider {
    object-fit: cover;
}

.imagen-slider img {    
    width: 100%;
    height: 60vh;
}


/* MAIN */
.cuerpo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.caja {
    position: relative;
    margin: 1em;
    border: black solid thick;
    background-color: #EEC51F;
    
    width: 30em;
    height: auto; /* 18 */

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s;
}

.caja:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.caja:hover .caja-texto {
    height: 35%;
}

.caja:hover .caja-texto > p {
    visibility: visible;
    opacity: 1;
}

.caja img {
    width: 100%;
    height: 100%;
}

.caja-texto {
    position: absolute;
    padding: 0.5em;
    height: 3em;
    bottom: 0;
    right: 0;
    left: 0;
    transition: height 0.5s;
    background-color: #EEC51F;
    text-align: center;
}

.caja-texto > p {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease .5s;
}

.caja-texto > h2 {
    height: 0.5em;
}

.accesos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}