body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: fuentefixpoint;
  background-color: #292929;
}

@font-face {
  font-family: fuenteFixpoint;
  src: url(/fonts/tonus-sans-heavy-italic.otf) format("opentype");
}

a {
  text-decoration: none;

}

main {
  display: grid;
  grid-template:
      "contenedor-uno" 15%
      "manuales"
      "final" 8%;
  gap: 1em;
}

.contenedor-uno {
  grid-area: contenedor-uno;
  /* display: grid;
  grid-template-columns: repeat( auto-fill, 20% ); */
  justify-content: space-around;
}

.contenedor-uno-linea {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;

}

h1 {
  color: white;
  font-size: 1.5em;
  animation: bgchange 7s linear infinite;
}

.contenedor_buscar {
  border-radius: 0.4em;
  margin-right: 1%;
  height: 2em;
}

.buscador {
  height: 90%;
  width: 70%;
  border-radius: 0.4em;
}

#buscar_boton {
  width: 28%;
  height: 90%;
  border-radius: 0.4em;
  margin-right: 0;
}

.tipos_herramientas {
  border-radius: 0.5em;
  background-color: #EEC51F;
  font-weight: bolder;
  height: 2em;
}

.ordenar_por {
  font-size: 1.2em;
  color: white;
  margin-right: 1%;
  animation: bgchange 7s linear infinite;
}

.A-Z {
  background-color: #EEC51F;
  border-radius: 0.5em;
  font-weight: bolder;
}


#manuales {
  display: grid;
  grid-area: manuales;
  grid-template-columns: repeat(auto-fill, 20%);
  justify-content: center;
  gap: 1em;
}

.manual {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: solid black medium;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.manual>img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  opacity: 0.7;
}

.manual-texto {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  justify-items: center;
  margin-bottom: 2%;
  text-shadow: 2px 0 0 #FFEA96, -2px 0 0 #FFEA96, 0 2px 0 #FFEA96, 0 -2px 0 #FFEA96, 1px 1px #FFEA96, -1px -1px 0 #FFEA96, 1px -1px 0 #FFEA96, -1px 1px 0 #fff;
}

#descarga {
  background: linear-gradient(145deg, #FFEA96, #EEC51F);
  border: solid;
  color: black;
  border-radius: 2em;
}

#descarga:hover {
  cursor:pointer;
  transition: 0.3s ease all;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.contenedor_final_pagina {
  grid-area: final;
  display: grid;
  grid-template: "contenedor-a"100%;
  justify-items: center;
}

.contenedor-a {
  grid-area: contenedor-a;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50%;
}

.flechaderecha {
  width: 80%;
  height: 90%;
  filter: invert(1);
}

.flechaizquierda {
  width: 80%;
  height: 90%;
  filter: invert(1);
}

.numero {
  text-align: center;
  background-color: #FFEA96;
  width: 10%;
  height: 90%;
  line-height: 50%;
  margin-left: 2%;
  margin-right: 2%;
}
.numero > a > p{
  color: black;
}

@keyframes bgchange{
  0%{
    color:white;
  }
  20%{
     color: rgb(255,234,150);
  }
  40%{
   color: rgb(238,197,31);
  }
  80%{
     color: rgb(255,234,150);
  }
}

@media (min-width: 480px) and (max-width: 1000px) {
  main {


  }

  #manuales {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    justify-self: center;
    column-gap: 10%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  main {


  }

  #parteSuperior {
    justify-content: space-between;
    height: 50%;
  }

  .buscador {
    font-size: 10px;
    text-align: end;
    width: 57%;
  }

  #manuales {
    grid-template-columns: repeat(1, 1fr);
    width: 55%;
    gap: 2%;
    font-size: 10px;
    justify-self: center;
  }

  .buscador>input {
    width: 40%;
  }

  #filtros {
    font-size: 10px;
    gap: 13%;
  }

  #manuales>section>section>button {
    font-size: 10px;
  }
}