@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
}
body{
    font-family: fuenteFixpoint;
    background-color: #ebe1c9;
    margin: 0;
}
header{
    display: flex;
    align-items: flex-end;
    gap: 300px;
}

#fp{
    height: 50px;
    width: 50px;
}

#pico_frentes{
    height: 50px;
    width: 150px;
}

#logo{
    height: 100px;
    width: 500px;
}
.parteSuperior{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.titulo{
    margin-left: 690px;
}
.buscador{
    margin-left: auto;
}
.filtros{
    display: inline-flex;
    height: 100%;
    width: 100%;
    gap: 480px;
    margin-top: 30px;
}
.filtroTipo{
    margin-left: 50px;
}

.filtroAlf{
    margin-right: 60px;
}
#anadirManual{
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
}
#anadirManual:hover{
    opacity: 0.6;
    text-decoration: none;
}
#filtro {
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 1em;
}
.cartica{
    background-color: rgb(255, 234, 150, 0.9);
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1em;
    align-items: center;
    border: solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cartica > img{
    width:300px;
    height:300px;
    border-radius: 1em;
}
.loquete > button {
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
}
.loquete {
    margin-bottom: 10px;
    font-weight: bolder;
    background-color: transparent;
    position: absolute;
    text-shadow: 2px 0 0 #FFEA96, -2px 0 0 #FFEA96, 0 2px 0 #FFEA96, 0 -2px 0 #FFEA96, 1px 1px #FFEA96, -1px -1px 0 #FFEA96, 1px -1px 0 #FFEA96, -1px 1px 0 #fff;
}
footer{
    display: inline-flex;
      margin: 0;
      bottom: 0;
      width: 100%;
      gap: 100px;
      margin-top: 5em;
      background-color: #695E33;
      color: rgb(216, 204, 204);
      align-items: center;
      justify-content: space-around;
  }
  footer > img{
      
      height: 100px;
      width: 300px;
  }
  #horario{
      text-align: center;
  }
  table{
     border-collapse: collapse;
  }
  tr{
      border-bottom: solid 3px #FFEA96;
      border-top: solid 3px #FFEA96;
   }

   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
    #pico_frentes{
        height: 25px;
        width: 50px;
    }
    #fp{
        height: 25px;
        width: 25px;
    }
    #logo{
        height: 50px;
        width: 150px;
        margin-left: 20px;
    }
    #usuario{
        margin-left: 40px;
        width: 50px;
        height: 50px;
    }
    header{
        gap: 0px;
        align-items: center;
    }
    footer > img{
        width: 100px;
        height: 30px;
    }
    footer {
        width: 100%;
        gap: 10px;
        font-size: 10px;
    }
    body{
        font-size: 10px;
    }
    .titulo{
        margin-left: 120px;
    }
    .buscador{
        margin-left: 20px;
        width: 105px;
    }
    .buscador > form > input{
        width: 57px;
        height: 15px;
        font-size: 10px;
    }
    .buscador > form > button{
        width: 45px;
        height: 15px;
        font-size: 10px;
    }
    .filtros{
        width: auto;
        gap: 50px;
    }
    .filtroTipo{
        margin-left: 10px;
    }
    .btnManual > button{
        width: 80px;
        height: 40px;
    }
    .cartica{
        width: 140px;
        height: 150px;
        margin-left: 20px;
    }
    .cartica >img{
        width: 140px;
        height: 100%;
        border-radius: 1em;
    }
    }