@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
}

body{
    font-family: fuenteFixpoint;
    background-color: #ebe1c9;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px
    0.2fr
    0.2fr
    1fr
    100px;
    grid-template-areas:
    "my-header"
    "parte-Superior"
    "filtros"
    "manuales"
    "my-footer"
}

header {
    grid-area: my-header;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
#fp{
    height: 60px;
    width: 60px;
}

#pico_frentes{
    height: 50px;
    width: 100px;
}

#logo{
    margin-left: 25%;
    height: 100%;
    width: 450px;
}

#usuario{
    height: 70%;
    margin-left: 27%;
    width: 70px;
    background-image: url("/img/usuario.png");
}

#parteSuperior {
    grid-area: parte-Superior;
    display: inline-flex;
    margin-top: 5%;
    justify-content: center;
    height: 20%;
}

.buscador{

}

#filtros{
    grid-area: filtros;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#anadirManual{
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
}
#anadirManual:hover{
    opacity: 0.6;
    text-decoration: none;
}
#filtro {
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 1em;
}

#manuales{
    grid-area: manuales;
    display: grid;
    
}
  footer {
    grid-area: my-footer;
  }

  @media (min-width: 600px) and (max-width: 1000px) {
    main {
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: 150px
        0.2fr
        0.2fr
        1fr
        100px;
      grid-template-areas:
        "my-header"
        "parte-Superior"
        "filtros"
        "manuales"
        "my-footer my-footer"
    }
  }

@media (min-width: 1001px) {
  main {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px
        0.2fr
        0.2fr
        1fr
        100px;
    grid-template-areas:
      "my-header"
      "parte-Superior"
      "filtros"
      "manuales"
      "my-footer"
  }
}