@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
}
body{
    font-family: fuenteFixpoint;
    background-color: #ebe1c9;
    margin: 0;
}
header{
    display: flex;
    align-items: flex-end;
    gap: 300px;

}

#fp{
    height: 50px;
    width: 50px;
}

#pico_frentes{
    height: 50px;
    width: 150px;

}

#logo{
    height: 100px;
    width: 500px;
}


#usuario{
    height: 50px;
    width: 50px;
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url("/img/usuario.png");
    background-size: cover;
    margin-left: 100px;
}
#registrarse{
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#registrarse > h1{
    text-align: center;
    width: 300px;
}
#registro{
    align-items: center;
}
#Registrar, #Borrar{
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
    font-family: fuenteFixpoint;
    transition: all 0.2s ease-in-out;
    height: 30px;
    width: 80px;
}

#registro >form{
    margin-right: 25px;
    display: grid;
    grid-template-columns: 125px 125px;
    gap: 100px;
    row-gap: 10px;
    margin-left: 25px;   
}
footer{
    display: inline-flex;
      margin: 0;
      bottom: 0;
      width: 100%;
      gap: 100px;
      background-color: #695E33;
      color: rgb(216, 204, 204);
      align-items: center;
      justify-content: space-around;
  }
  footer > img{
      
      height: 100px;
      width: 300px;
  }
  #horario{
      text-align: center;
  }
  table{
     border-collapse: collapse;
  }
  tr{
      border-bottom: solid 3px #FFEA96;
      border-top: solid 3px #FFEA96;
   }
   
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #registrarse{
        width: 100%;
        height: 100%;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #registrarse > h1{
        text-align: center;
        width: 100px;
    }
    #registro{
        align-items: center;
    }
    #Registrar, #Borrar{
        background: linear-gradient(145deg, #FFEA96, #EEC51F );
        color: black;
        border-radius: 2em;
        font-family: fuenteFixpoint;
        transition: all 0.2s ease-in-out;
        height: 30px;
        width: 80px;
    }
    
    #registro >form{
        margin-right: 25px;
        display: grid;
        grid-template-columns: 125px 125px;
        gap: 100px;
        margin-left: 25px;   
    }
  }