@font-face {
    font-family: fuenteFixpoint;
    src: url(/tonus-sans-heavy-italic.otf) format("opentype");
  }
body{
    font-family: fuenteFixpoint;
    background-color: #ebe1c9;
    margin: 0;
}
header{
    display: flex;
    align-items: flex-end;
    gap: 300px;

}

#fp{
    height: 50px;
    width: 50px;
}

#pico_frentes{
    height: 50px;
    width: 150px;

}

#logo{
    height: 100px;
    width: 500px;
}


#usuario{
    height: 50px;
    width: 50px;
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url("/img/usuario.png");
    background-size: cover;
    margin-left: 100px;
}

#pregunta_titulo{
    font-size: 50px;
    margin-top: 50px;
    
}
#que_es{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    background-color: #EEC51F;
    padding: 20px;
    text-align: justify;
    margin-top: -40px;
}



#que_es > img{
    width:300px;
    height:200px;
    margin-left: 50px;
}

#vision_objetivo{
    display: flex;
    justify-content: space-around;
    
}

#form_map{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    
}

#form_map > #formulario{
    text-align: center;
}

#form_map > #formulario >form{
    margin-right: 25px;
    display: grid;
    grid-template-columns: 125px 125px;
    gap: 100px;
    row-gap: 10px;
    margin-left: 25px; 
}

#form_map > #formulario > form >h3{
    text-align: center;
    
}
#Enviar, #Borrar{
    background: linear-gradient(145deg, #FFEA96, #EEC51F );
    color: black;
    border-radius: 2em;
    font-family: fuenteFixpoint;
    transition: all 0.2s ease-in-out;
}




.img_con_texto{
    position: relative;
    border: thick solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.img_con_texto > img{
    opacity: 1;
    width:400px;
    height:300px;
    transition: .5s ease;
}
.mensaje {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgb(255, 234, 150, 0.9);
    transition: .5s ease; 
  }
  .texto{
      visibility: hidden;
      opacity: 0;
      text-align: justify;
      margin-left: 10px;
      width: 95%;
  
  }
  .img_con_texto:hover .mensaje {
    height: 100%;
  
  }
  .img_con_texto:hover .texto{
    opacity: 1;
    visibility: visible;
    transition: .5s ease 0.5s ;
  }

iframe{
 
    width:400px;
    height:300px;
    border: none;
    
}
footer{
  display: inline-flex;
    margin: 0;
    bottom: 0;
    width: 100%;
    gap: 100px;
    background-color: #695E33;
    color: rgb(216, 204, 204);
    align-items: center;
    justify-content: space-around;
}
footer > img{
    
    height: 100px;
    width: 300px;
}
#horario{
    text-align: center;
}
table{
   border-collapse: collapse;
}
tr{
    border-bottom: solid 3px #FFEA96;
    border-top: solid 3px #FFEA96;
 }
 
