@font-face {
    font-family: fuenteFixpoint;
    src: url(/fonts/tonus-sans-heavy-italic.otf) format("opentype");
}

body {
    font-family: fuenteFixpoint;
    background-color: #292929;
    margin: 0;
    color: white;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2em;
}

#que-es {
    width: 95%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    background-color: #292929;
    text-align: justify;
    animation: bgchange 7s linear infinite;
}

#pregunta-titulo {
    width: 100%;
}

#que-es-contenido {
    max-width: 70%;
    height: auto;
}

#que-es > img {
    max-width: 20em;
    height: auto;
}

.img_con_texto {
    width: 40em;
    flex: 1 1 40%;
    position: relative;
    border: thick solid black;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


.img_con_texto > img {
    opacity: 1;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
}

.mensaje {
    box-sizing: border-box;
    padding: 1em 3em 3em 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    opacity: 1;
    transition: .5s ease-in-out;
    background-color: rgb(0, 0, 0, 0.8);
    transition: .5s ease;
}

.texto {
    visibility: hidden;
    opacity: 0;
    text-align: justify;
}

.img_con_texto:hover .mensaje {
    height: 100%;

}

.img_con_texto:hover .texto {
    opacity: 1;
    visibility: visible;
    transition: .5s ease 0.5s;
}

#formulario-entero {
    text-align: center;
    width: 35em;
    flex: 1 1 auto;
}

#formulario-datos {
    flex: 1 1 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 1em;
    margin: 0 1em;
}

#formulario-datos legend {
    font-size: xx-large;
}

#formulario-datos button {
    margin: 0;
    grid-column: span 2;
}

iframe {
    flex: 1 1 auto;
    height: auto;
    border: none;
    filter: invert(90%);
    margin: 0 1em;
}


@keyframes bgchange {
    0% {
        color: white;
    }

    20% {
        color: rgb(255, 234, 150);
    }

    40% {
        color: rgb(238, 197, 31);
    }

    80% {
        color: rgb(255, 234, 150);
    }
}


@media (min-width:320px) and (max-width:480px) {
    #logo {
        height: 50px;
        width: 250px;
    }

    #pregunta_titulo {
        font-size: 35px;

    }

    #que_es {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #que_es>img {
        margin-bottom: 1%;
    }

    #vision_objetivo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .img_con_texto {
        width: 320px;
        height: 350px;
        margin-top: 50px;
    }


    .img_con_texto>img {
        width: 320px;
        height: 350px;
    }

    #form_map {
        flex-direction: column;

    }


    #formulario_entero {
        margin: 0 auto;
    }

    #formulario {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    iframe {
        margin-top: 10%;
        width: 320px;
        height: 350px;
        border: none;
        align-self: center;
        justify-content: center;

    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: none;
        gap: 0;

    }

    #fp_pico_frentes {
        display: flex;
        flex-direction: column-reverse;

    }

    #logos_fp {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        width: 100%;
        position: relative;

    }

    #fp {
        height: 75px;
        width: 75px;
    }

    #pico_frentes {
        height: 75px;
        width: 150px;

    }

}